@font-face {
  font-family: banana;
  src: url(../fonts/SuisseIntl-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: banana-bold;
  src: url(../fonts/Suisse-Intl-Bold.ttf);
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: banana, sans-serif;
  font-weight: regular;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .col2 {
    grid-template-columns: 1fr;
  }
}

.left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-color: #fac670;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .left {
    height: 55vh;
  }
}
.left header {
  display: flex;
  justify-content: space-between;
  height: clamp(1rem, 3vw, 4rem);
  font-family: banana-bold, sans-serif;
}
.left header h2 {
  font-size: clamp(1rem, 2vw, 4rem);
  letter-spacing: -0.05rem;
}
.left header img {
  height: 100%;
  max-height: 100px;
}
.left .middle {
  font-size: clamp(4rem, 6vw, 6rem);
  font-weight: bold;
  line-height: 0.8em;
  font-family: banana-bold, sans-serif;
}
.left .middle span {
  color: #f37925;
}

.right {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #1b1a19;
}
@media screen and (max-width: 768px) {
  .right {
    height: 65vh;
  }
}
.right .piano {
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.right .piano .key {
  padding: 30px;
  border-radius: 8px;
  margin: 5px;
  transition: all 0.3s;
  transform: translateX(0px);
}
.right .piano .key:active {
  transform: translateX(50px);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .right .piano .key {
    padding: 10px;
  }
}
.right .bottom-keys {
  display: flex;
  flex-direction: column;
  transform: translateX(30px);
}
.right .bottom-keys .key {
  background-color: rgb(207, 129, 19);
}
.right .bottom-keys .key:nth-child(1) {
  background-color: #91c3ce;
}
.right .bottom-keys .key:nth-child(2) {
  background-color: #fac670;
}
.right .bottom-keys .key:nth-child(3) {
  background-color: #f5e1be;
}
.right .bottom-keys .key:nth-child(4) {
  background-color: #f37925;
}
.right .bottom-keys .key:nth-child(5) {
  background-color: #c0a8e6;
}
.right .bottom-keys .key div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 4em;
  width: 4em;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .top-keys {
  display: flex;
  flex-direction: column;
  transform: translateX(150px);
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 70px;
  height: 60%;
}
@media screen and (max-width: 768px) {
  .right .top-keys {
    top: 50px;
    height: 60%;
  }
}
.right .top-keys .key {
  background-color: #000;
}
.right .top-keys .key div {
  background-color: rgba(255, 255, 255, 0.2);
  height: 4em;
  width: 4em;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */